{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" type="image/png" href="{% static 'myapp/img/lflogo.png' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/user_login.css' %}">
</head>
<body> 
    <header>
    <h1>LOST AND FOUND</h1>
</header>
<main>
    <div class="container">
        <form class="login-form" method="post">
            {% csrf_token %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
            <h2>PLEASE LOGIN:</h2>
            <div class="input-group">
                <label for="username">USERNAME:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">PASSWORD:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="input-group">
                <button type="submit">LOGIN</button>
            </div>
        </form>
        <div class="register-button">
            <p>Don't have an account yet?
            <a href="/register">Register Here</a></p>
    </div>
</main>
<script src="{% static 'myapp/js/login.js' %}"></script>
</body>
</html>
